/*-----
* 
* component classes
* by Matthew Boyles
* https://www.embeemedialab.com
* Updated 5/23/2025
* 
-----*/
:root {
  --primary: #cc3535; 
  --secondary: #340000;
  --accent: #f00;

	--gray: #5a5e67;
  --white: #f8f8f8;
  --white-2: #fdf0d5;
  --black: #121212;

  --heading: "Inter", system-ui, sans-serif;
  --heading-color: #000;
  --heading-weight: 600;

  --font: "Open Sans", system-ui, sans-serif;
  --font-color: #121212;
  --font-weight: 400;

  --bg-color: #fff;
  --alt-bg: #454545;

  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  --border-radius: 12px;
  --border-radius-sm: 8px;
  --border-radius-lg: 14px;
}
img,
svg {
  vertical-align: middle;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}
caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--bs-secondary-color);
  text-align: left;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
select {
  text-transform: none;
}
[role=button] {
  cursor: pointer;
}
select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
textarea {
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
.initialism {
  font-size: 0.875em;
  text-transform: uppercase;
}
.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.blockquote > :last-child {
  margin-bottom: 0;
}
.blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #6c757d;
}
.blockquote-footer::before {
  content: "— ";
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  max-width: 100%;
  height: auto;
}
.figure {
  display: inline-block;
}
.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}
.figure-caption {
  font-size: 0.875em;
  color: var(--bs-secondary-color);
}
/*---
* buttons
---*/
.btn {
	display: inline-block;
	vertical-align: middle;
	border: none;
	outline: none;
	color: #ffffff;
	font-size: 1rem;
	background-color: var(--primary);
	padding: 0.375rem 0.75rem;
	text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
	background-color: var(--white);
	color: var(--primary);
  box-shadow: var(--box-shadow);
}
.btn-alt {
	color: var(--primary);
	background-color: var(--white);
}
.btn-outline {
	border: solid 2px var(--primary);
	color: var(--primary);
	background-color: transparent;
}
.btn-outline:hover {
	border: solid 2px var(--primary);
	color: var(--white);
	background-color: var(--primary);
}


